@page "{id:int}"
@model lega.Pages.Management.Contacts.UpdateModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Թարմացնել";
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}


@if (HttpContextAccessor.HttpContext.Session.GetString("user") == "login")
{
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Update.Id" />
        <div class="card card-input">
            <div class="card-body p-0 d-flex align-items-center">
                <i class="cil-sync bg-primary p-4 px-5 font-2xl mr-3 text-white"></i>
                <div>
                    <div class="text-value-sm text-info">@ViewData["Title"]</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body row">
                <div class="m-3 p-3 w-100" style="max-width:900px">
                    <div>
                        <partial name="_ValidationSummary" />
                        @if (Model.Errors.Count > 0)
                        {
                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    @foreach (var error in Model.Errors)
                                    {
                                        <li>@error.Code: @error.Description</li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <label class="text-info" asp-for="Update.Title">Վերնագիր</label>
                            <input class="form-control" type="text" asp-for="Update.Title">
                            <span asp-validation-for="Update.Title" class="text-danger"></span>
                        </div>
                         <div class="col-4">
                            <label class="text-info" asp-for="Update.TitleRu">Վերնագիր ռուսերեն</label>
                            <input class="form-control" type="text" asp-for="Update.TitleRu">
                            <span asp-validation-for="Update.TitleRu" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="text-info" asp-for="Update.TitleEn">Վերնագիր անգլերեն</label>
                            <input class="form-control" type="text" asp-for="Update.TitleEn">
                            <span asp-validation-for="Update.TitleEn" class="text-danger"></span>
                        </div>
                    </div>
                    <br />

                     <div class="row">
                        <div class="col-4">
                            <label class="text-info" asp-for="Update.Address">Հասցե</label>
                            <input class="form-control" type="text" asp-for="Update.Address">
                            <span asp-validation-for="Update.Address" class="text-danger"></span>
                        </div>
                         <div class="col-4">
                            <label class="text-info" asp-for="Update.AddressRu">Հասցե ռուսերեն</label>
                            <input class="form-control" type="text" asp-for="Update.AddressRu">
                            <span asp-validation-for="Update.AddressRu" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="text-info" asp-for="Update.AddressEn">Հասցե անգլերեն</label>
                            <input class="form-control" type="text" asp-for="Update.AddressEn">
                            <span asp-validation-for="Update.AddressEn" class="text-danger"></span>
                        </div>
                    </div>
                    <br />

                     <div class="row">
                        <div class="col-6">
                            <label class="text-info" asp-for="Update.Phone">Հեռախոս</label>
                            <input class="form-control" type="text" asp-for="Update.Phone">
                            <span asp-validation-for="Update.Phone" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label class="text-info" asp-for="Update.Email">Էլ․ հասցե</label>
                            <input class="form-control" type="text" asp-for="Update.Email">
                            <span asp-validation-for="Update.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-6">
                            <label class="text-info" asp-for="Update.Website">Վեբ կայք</label>
                            <input class="form-control" type="text" asp-for="Update.Website">
                            <span asp-validation-for="Update.Website" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label class="text-info" asp-for="Update.Visible">Ցուցադրել որպես հիմնական</label>
                             <input class="form-control" type="checkbox" asp-for="Update.Visible">
                            <span asp-validation-for="Update.Visible" class="text-danger"></span>
                        </div>
                    </div>
                    <br />

                    <div style="height:20px"></div>
                    <div class="row border-top margin-top-20" style="padding-top:20px">
                        <div class="col-12">
                            <button class="btn btn-primary text-white"><i class="cil-sync"></i> Թարմացնել</button>
                            <a class="btn btn-secondary" asp-page="/Management/Contacts/Index"><i class="cil-x-circle"></i> Չեղարկել</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
     <div class="alert alert-danger m-3" role="alert">
        <h5>Այս տվյալներին հասանելիություն չունեք։</h5>
    </div>
}

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}



