@page "{id:int}"
@model lega.Pages.Management.Carousels.UpdateModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Թարմացնել";
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}


@if (HttpContextAccessor.HttpContext.Session.GetString("user") == "login")
{
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Update.Id" />
        <div class="card card-input">
            <div class="card-body p-0 d-flex align-items-center">
                <i class="cil-sync bg-primary p-4 px-5 font-2xl mr-3 text-white"></i>
                <div>
                    <div class="text-value-sm text-info">@ViewData["Title"]</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body row">
                <div class="m-3 p-3 w-100" style="max-width:900px">
                    <div>
                        <partial name="_ValidationSummary" />
                        @if (Model.Errors.Count > 0)
                        {
                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    @foreach (var error in Model.Errors)
                                    {
                                        <li>@error.Code: @error.Description</li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <input type="hidden" asp-for="Update.ImageUrl" />
                            <img width="200" id="photo" src="@Model.Update.ImageUrl" />
                            <input id="fileUpload" type="file" onchange="FileUpload()" style="display:none;" />
                        </div>
                        <div class="col-6">
                            <div style="width:125px">
                                <label class="btn btn-brand btn-block btn-twitter text-left" for="fileUpload">
                                    @* <i class="nav-icon icon-chart">*@
                                    <span> Վերբեռնել</span>
                                </label>
                                <div class="col-12 p-0">
                                    <input type="submit" name="remove" style="display:none" />
                                    <a class="btn btn-danger btn-block text-white text-left" onclick="RemovePhoto()">
                                        @*   <i class="nav-icon icon-chart">*@
                                        Հեռացնել
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-6">
                            <label class="text-info" asp-for="Update.State">Կարգավիճակ</label>
                            <select class="form-control" asp-for="Update.State">
                                <option value=""> -- ընտրել -- </option>
                                <option value="active"> -- ակտիվ -- </option>
                            </select>
                            <span asp-validation-for="Update.State" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-4">
                            <label class="text-info" asp-for="Update.Title">Վերնագիր</label>
                            <input class="form-control" type="text" asp-for="Update.Title">
                            <span asp-validation-for="Update.Title" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="text-info" asp-for="Update.TitleRu">Վերնագիր ռուսերեն</label>
                            <input class="form-control" type="text" asp-for="Update.TitleRu">
                            <span asp-validation-for="Update.TitleRu" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="text-info" asp-for="Update.TitleEn">Վերնագիր անգլերեն</label>
                            <input class="form-control" type="text" asp-for="Update.TitleEn">
                            <span asp-validation-for="Update.TitleEn" class="text-danger"></span>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-4">
                            <label class="text-info" asp-for="Update.Name">Անուն</label>
                            <input class="form-control" type="text" asp-for="Update.Name">
                            <span asp-validation-for="Update.Name" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="text-info" asp-for="Update.NameRu">Անուն ռուսերեն</label>
                            <input class="form-control" type="text" asp-for="Update.NameRu">
                            <span asp-validation-for="Update.NameRu" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="text-info" asp-for="Update.NameEn">Անուն անգլերեն</label>
                            <input class="form-control" type="text" asp-for="Update.NameEn">
                            <span asp-validation-for="Update.NameEn" class="text-danger"></span>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-4">
                            <label class="text-info" asp-for="Update.Context">Տեքստ</label>
                            <input class="form-control" type="text" asp-for="Update.Context">
                            <span asp-validation-for="Update.Context" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="text-info" asp-for="Update.ContextRu">Տեքստ ռուսերեն</label>
                            <input class="form-control" type="text" asp-for="Update.ContextRu">
                            <span asp-validation-for="Update.ContextRu" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="text-info" asp-for="Update.ContextEn">Տեքստ անգլերեն</label>
                            <input class="form-control" type="text" asp-for="Update.ContextEn">
                            <span asp-validation-for="Update.ContextEn" class="text-danger"></span>
                        </div>
                    </div>
                    <br />

                    <div style="height:20px"></div>
                    <div class="row border-top margin-top-20" style="padding-top:20px">
                        <div class="col-12">
                            <button class="btn btn-primary text-white"><i class="cil-sync"></i> Թարմացնել</button>
                            <a class="btn btn-secondary" asp-page="/Management/Carousels/Index"><i class="cil-x-circle"></i> Չեղարկել</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <div class="alert alert-danger m-3" role="alert">
        <h5>Այս տվյալներին հասանելիություն չունեք։</h5>
    </div>
}

@section Scripts {
<partial name="_ValidationScriptsPartial" />

<script>

    function FileUpload() {

        var input = document.getElementById('fileUpload');
        var file = input.files[0];
        var formData = new FormData();
        formData.append("file", file)
        $.ajax(
            {
                url: "/File/GetPicture",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (message) {
                    if (message.code != "ok") {
                        alert(message.data);
                    }
                    else {
                        $("#photo").attr("src", message.data);
                        $("#Update_ImageUrl").val(message.data);
                    }
                },

                error: function () {
                        alert("Տեղի է ունեցել սխալ։ Փորձեք ավելի ուշ կամ դիմեք տեխնիկական սպասարկման անձնակազմին:");
                       },

                complete: function () {}

            });

            }

    function RemovePhoto() {
        $("#Update_ImageUrl").val("");
        $("#photo").attr("src", "/images/icons/no-image.png");
    }
</script>



}


