@model CultureSwitcherModel

<div class="language-select-nav">

    @foreach (var culture in Model.SupportedCultures)
    {
        if (culture.Name.ToString() == "hy")
        {
            <a class="@(Model.CurrentUICulture.Name == culture.Name ? "active" : "")" href="?culture=@culture.Name">հայ</a>
            if (culture != Model.SupportedCultures.Last())
            {
               <em class="lang-separator"></em>
            }
        }
        else

        if (culture.Name.ToString() == "ru")
        {
            <a class="@(Model.CurrentUICulture.Name == culture.Name ? "active" : "")" href="?culture=@culture.Name">рус</a>
            if (culture != Model.SupportedCultures.Last())
            {
               <em class="lang-separator"></em>
            }
        }
        else
        {
            <a class="@(Model.CurrentUICulture.Name == culture.Name ? "active" : "")" href="?culture=@culture.Name">eng</a>
            if (culture != Model.SupportedCultures.Last())
            {
               <em class="lang-separator"></em>
            }
        }
    }
</div>
