@page
@model lega.Pages.Management.Pricings.CreateModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Ավելացնել";
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}

@if (HttpContextAccessor.HttpContext.Session.GetString("user") == "login")
{
    <form method="post" enctype="multipart/form-data">
        <div class="card card-input">
            <div class="card-body p-0 d-flex align-items-center">
                <i class="nav-icon icon-check bg-success p-4 px-5 font-2xl mr-3 text-white"></i>
                <div>
                    <div class="text-value-sm text-info">@ViewData["Title"]</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body row">
                <div class="m-3 p-3 w-100" style="max-width:900px">
                    <div>
                        <partial name="_ValidationSummary" />
                        @if (Model.Errors.Count > 0)
                        {
                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    @foreach (var error in Model.Errors)
                                    {
                                        <li>@error.Code: @error.Description</li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label class="text-info" asp-for="Create.EmployeCount">Աշխ․ քանակր</label>
                            <input class="form-control" type="text" asp-for="Create.EmployeCount">
                            <span asp-validation-for="Create.EmployeCount" class="text-danger"></span>
                        </div>
                         <div class="col-6">
                            <label class="text-info" asp-for="Create.Price">Փաթեթի արժեք</label>
                            <input class="form-control" type="text" asp-for="Create.Price">
                            <span asp-validation-for="Create.Price" class="text-danger"></span>
                        </div>
                    </div>
                    <br />

                     <div class="row">
                        <div class="col-4">
                            <label class="text-info" asp-for="Create.PriceValue">Փաթեթի արժեքի տեքստ</label>
                            <input class="form-control" type="text" asp-for="Create.PriceValue">
                            <span asp-validation-for="Create.PriceValue" class="text-danger"></span>
                        </div>
                    
                        <div class="col-4">
                            <label class="text-info" asp-for="Create.PriceValueRu">Փաթեթի արժեքի տեքստ ռուսերեն</label>
                            <input  class="form-control" type="text" asp-for="Create.PriceValueRu">
                            <span asp-validation-for="Create.PriceValueRu" class="text-danger"></span>
                        </div>
                   
                        <div class="col-4">
                            <label class="text-info" asp-for="Create.PriceValueEn">Փաթեթի արժեքի տեքստ անգլերեն</label>
                            <input class="form-control" type="text" asp-for="Create.PriceValueEn">
                            <span asp-validation-for="Create.PriceValueEn" class="text-danger"></span>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-4">
                            <label class="text-info" asp-for="Create.Name">Անուն</label>
                            <input class="form-control" type="text" asp-for="Create.Name">
                            <span asp-validation-for="Create.Name" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="text-info" asp-for="Create.NameRu">Անուն ռուսերեն</label>
                            <input class="form-control" type="text" asp-for="Create.NameRu">
                            <span asp-validation-for="Create.NameRu" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="text-info" asp-for="Create.NameEn">Անուն անգլերեն</label>
                            <input class="form-control" type="text" asp-for="Create.NameEn">
                            <span asp-validation-for="Create.NameEn" class="text-danger"></span>
                        </div>
                    </div>
                    <br />

                     <div class="row">
                        <div class="col-4">
                            <label class="text-info" asp-for="Create.PriceText">Փաթեթի արժեք</label>
                            <input class="form-control" type="text" asp-for="Create.PriceText">
                            <span asp-validation-for="Create.PriceText" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="text-info" asp-for="Create.PriceTextRu">Փաթեթի արժեք ռուսերեն</label>
                            <input class="form-control" type="text" asp-for="Create.PriceTextRu">
                            <span asp-validation-for="Create.PriceTextRu" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label class="text-info" asp-for="Create.PriceTextEn">Փաթեթի արժեք անգլերեն</label>
                            <input class="form-control" type="text" asp-for="Create.PriceTextEn">
                            <span asp-validation-for="Create.PriceTextEn" class="text-danger"></span>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-12">
                            <label class="text-info" asp-for="Create.Context">Տեքստ</label>
                            <textarea rows="5" class="form-control" asp-for="Create.Context"></textarea>
                            <span asp-validation-for="Create.Context" class="text-danger"></span>
                        </div>
                    </div>
                      <br />
                    <div class="row">
                        <div class="col-12">
                            <label class="text-info" asp-for="Create.ContextRu">Տեքստ ռուսերեն</label>
                            <textarea rows="5" class="form-control" asp-for="Create.ContextRu"></textarea>
                            <span asp-validation-for="Create.ContextRu" class="text-danger"></span>
                        </div>
                    </div>
                      <br />
                    <div class="row">
                        <div class="col-12">
                            <label class="text-info" asp-for="Create.ContextEn">Տեքստ անգլերեն</label>
                            <textarea rows="5" class="form-control" asp-for="Create.ContextEn"></textarea>
                            <span asp-validation-for="Create.ContextEn" class="text-danger"></span>
                        </div>
                    </div>
                    <br />

                   



                    <div style="height:20px"></div>
                    <div class="row border-top margin-top-20" style="padding-top:20px">
                        <div class="col-12">
                            <button class="btn btn-success text-white"> <i class="nav-icon icon-check"></i> Ստեղծել</button>
                            <a class="btn btn-secondary" asp-page="/Management/Pricings/Index"> <i class="nav-icon icon-close"></i> Չեղարկել</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

}

else
{
    <div class="alert alert-danger m-3" role="alert">
        <h5>Այս տվյալներին հասանելիություն չունեք։</h5>
    </div>
}

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}


